@import url(responsive.css);
*{
    box-sizing: border-box;
}
body {
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header {
    background:#3d550a;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    
}
header a {
    color: #fff;
    text-decoration: none;
}
header ul {
   list-style: none;
   display: flex;
}

#logo {
    margin: 0 auto;
    font-size: 30px;
}
#menu li,
#social-links li{
    padding: 10px;
}

/* header section end  */

#main {
    display: flex;
}
/* aside start from here  */

aside {
    /* flex: grow shrink basis  */
    flex: 0 0 20vw;
    background:beige;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul a {
    color: #3d550a;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid gray;
}
aside img {
    width: 100%;
    height: auto;
}
/* aside ends  */

article {
    padding: 15px;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box {
    border: 1px solid #eee;
    flex-basis: 32%;
    /* max-width: 370px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.service-box h3 {
    margin: 5px 0 15px;
}
.service-box p {
    margin: 0 0 10px;
}
.service-box img {
    width: 100%;
}
.call-to-action a{
    background: gray;
    color: #fff;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    border: 2px solid transparent;

}
.call-to-action a:hover{
    background: transparent;
    border: 2px solid gray;
    color: gray;
}
.call-to-action  {
    align-self: flex-start;
    margin-top: auto;
    
}
footer {
    background:#3d550a;
    color: #fff;
    text-align: center;
    padding: 15px;
}
